@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(72% 0.12 218.538);
  --color-secondary-content: black;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: oklch(24.7% 0.061 254.997);
}
